@page
@model SOFT40081_StarterCode.Pages.ProductModel
@{
}

<div class="container mt-5">
    <h2>Our Products</h2>
    <div class="row">
        @foreach (var product in Model.ProductList)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="~/images/@product.ProductImage" class="card-img-top" alt="@product.Name">
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <p class="card-text">@product.Description</p>
                        <p class="card-text"><strong>$@product.Price</strong></p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>