@page
@model E_Commerce.Pages.ContactUsModel
@{
    ViewData["Title"] = "Contact Us";
}

<div class="contact-us-container">
    <h2 class="text-center text-purple">Contact Mr. Robot E-commerce</h2>
    
    <div class="contact-info">
        <h3 class="text-red">Get In Touch</h3>
        <p class="text-red"><strong>Address:</strong>50 BURJ BUILDING,DUBAI,UNITED ARAB EMIRATES</p>
        <p class="text-red"><strong>Email:</strong> <a href="mailto:nottingham@trent.com">Support@MrRobot.com</a></p>
        <p class="text-red"><strong>Phone:</strong> +44 7423 08243</p>
    </div>